@mixin btn-override($btn-name, $btn-background-color, $btn-border-color, $btn-text-color, $btn-hover-background-color, $btn-hover-border-color, $btn-hover-text-color) {
	.#{$btn-name} {
		background: $btn-background-color;
		border-color: $btn-border-color;
		color: $btn-text-color;
		&:disabled,
		&.disabled {
			background: $btn-background-color;
			border-color: $btn-border-color;
			color: $btn-text-color;
		}
		&:focus,
		&.focus {
			color: $btn-text-color;
			background: $btn-background-color;
			border: 1px solid $btn-border-color;
			box-shadow: none;
			&:hover {
				background-color: $btn-hover-background-color;
				border: 1px solid $btn-hover-border-color;
				color: $btn-hover-text-color;
				box-shadow: none;
			}
		}
		&:hover {
			background-color: $btn-hover-background-color;
			border: 1px solid $btn-hover-border-color;
			color: $btn-hover-text-color;
			box-shadow: none;
		}
		&:not(:disabled):not(.disabled):active,
		&.active {
			background-color: $btn-hover-background-color;
			border: 1px solid $btn-hover-border-color;
			color: $btn-hover-text-color;
			box-shadow: none;
			&:hover,
			&:focus,
			&.focus {
				background-color: $btn-hover-background-color;
				border: 1px solid $btn-hover-border-color;
				color: $btn-hover-text-color;
				box-shadow: none;
			}
		}
	}
}