@font-face {
  font-family: 'fuggoagy';
  src:  url('fonts/fuggoagy.eot?jwwirt');
  src:  url('fonts/fuggoagy.eot?jwwirt#iefix') format('embedded-opentype'),
    url('fonts/fuggoagy.ttf?jwwirt') format('truetype'),
    url('fonts/fuggoagy.woff?jwwirt') format('woff'),
    url('fonts/fuggoagy.svg?jwwirt#fuggoagy') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fuggoagy' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e903";
  color: #474747;
}
.icon-arrow-left:before {
  content: "\e905";
  color: #474747;
}
.icon-arrow-right:before {
  content: "\e906";
  color: #474747;
}
.icon-arrow-up:before {
  content: "\e907";
  color: #474747;
}
.icon-cart:before {
  content: "\e908";
  color: #474747;
}
.icon-category:before {
  content: "\e909";
  color: #474747;
}
.icon-check1:before {
  content: "\e90a";
  color: #474747;
}
.icon-check2:before {
  content: "\e90c";
  color: #474747;
}
.icon-chekbox-checked:before {
  content: "\e90d";
  color: #474747;
}
.icon-chekbox-default:before {
  content: "\e913";
  color: #474747;
}
.icon-close1:before {
  content: "\e914";
  color: #474747;
}
.icon-disabled:before {
  content: "\e915";
  color: #474747;
}
.icon-edit:before {
  content: "\e916";
  color: #474747;
}
.icon-email:before {
  content: "\e917";
  color: #474747;
}
.icon-facebook:before {
  content: "\e918";
  color: #474747;
}
.icon-grid:before {
  content: "\e919";
  color: #474747;
}
.icon-hammock:before {
  content: "\e91a";
  color: #474747;
}
.icon-home:before {
  content: "\e91b";
  color: #474747;
}
.icon-instagram1:before {
  content: "\e91c";
  color: #474747;
}
.icon-list:before {
  content: "\e91d";
  color: #474747;
}
.icon-menu:before {
  content: "\e91e";
  color: #474747;
}
.icon-minus:before {
  content: "\e91f";
  color: #474747;
}
.icon-more:before {
  content: "\e920";
  color: #474747;
}
.icon-phone1:before {
  content: "\e922";
  color: #474747;
}
.icon-plus:before {
  content: "\e923";
  color: #474747;
}
.icon-radio-checked:before {
  content: "\e924";
  color: #474747;
}
.icon-radio-default:before {
  content: "\e925";
  color: #474747;
}
.icon-search:before {
  content: "\e92a";
  color: #474747;
}
.icon-shop:before {
  content: "\e93b";
  color: #474747;
}
.icon-sort:before {
  content: "\e93c";
  color: #474747;
}
.icon-trash:before {
  content: "\e93d";
  color: #474747;
}
.icon-truck:before {
  content: "\e93e";
  color: #474747;
}
.icon-user1:before {
  content: "\e93f";
  color: #474747;
}
.icon-youtube:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-facebook-f:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e90b";
}
.icon-pin:before {
  content: "\e90e";
}
.icon-newsletter:before {
  content: "\e90f";
}
.icon-play:before {
  content: "\e910";
}
.icon-bell:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e912";
}
.icon-magnifying-glass-plus:before {
  content: "\e921";
}
.icon-hand-holding-dollar:before {
  content: "\e926";
}
.icon-graduation-cap:before {
  content: "\e927";
}
.icon-gift:before {
  content: "\e928";
}
.icon-cookie-bite:before {
  content: "\e929";
}
.icon-chevron-up:before {
  content: "\e92b";
}
.icon-angle-down:before {
  content: "\e92c";
}
.icon-bars:before {
  content: "\e92d";
}
.icon-check:before {
  content: "\e92e";
}
.icon-chevron-left:before {
  content: "\e92f";
}
.icon-chevron-right:before {
  content: "\e930";
}
.icon-comments:before {
  content: "\e931";
}
.icon-flag:before {
  content: "\e932";
}
.icon-lightbulb:before {
  content: "\e933";
}
.icon-circle-info:before {
  content: "\e934";
}
.icon-heart-o:before {
  content: "\e935";
}
.icon-heart:before {
  content: "\e936";
}
.icon-book-open:before {
  content: "\e937";
}
.icon-pen-to-square:before {
  content: "\e938";
}
.icon-music:before {
  content: "\e939";
}
.icon-paintbrush:before {
  content: "\e93a";
}
