@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?jwwirt');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?jwwirt#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?jwwirt') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?jwwirt') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?jwwirt##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;     
    color: #474747;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;     
    color: #474747;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;     
    color: #474747;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;     
    color: #474747;
  }
}
.icon-cart {
  &:before {
    content: $icon-cart;     
    color: #474747;
  }
}
.icon-category {
  &:before {
    content: $icon-category;     
    color: #474747;
  }
}
.icon-check1 {
  &:before {
    content: $icon-check1;     
    color: #474747;
  }
}
.icon-check2 {
  &:before {
    content: $icon-check2;     
    color: #474747;
  }
}
.icon-chekbox-checked {
  &:before {
    content: $icon-chekbox-checked;     
    color: #474747;
  }
}
.icon-chekbox-default {
  &:before {
    content: $icon-chekbox-default;     
    color: #474747;
  }
}
.icon-close1 {
  &:before {
    content: $icon-close1;     
    color: #474747;
  }
}
.icon-disabled {
  &:before {
    content: $icon-disabled;     
    color: #474747;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;     
    color: #474747;
  }
}
.icon-email {
  &:before {
    content: $icon-email;     
    color: #474747;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;     
    color: #474747;
  }
}
.icon-grid {
  &:before {
    content: $icon-grid;     
    color: #474747;
  }
}
.icon-hammock {
  &:before {
    content: $icon-hammock;     
    color: #474747;
  }
}
.icon-home {
  &:before {
    content: $icon-home;     
    color: #474747;
  }
}
.icon-instagram1 {
  &:before {
    content: $icon-instagram1;     
    color: #474747;
  }
}
.icon-list {
  &:before {
    content: $icon-list;     
    color: #474747;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;     
    color: #474747;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;     
    color: #474747;
  }
}
.icon-more {
  &:before {
    content: $icon-more;     
    color: #474747;
  }
}
.icon-phone1 {
  &:before {
    content: $icon-phone1;     
    color: #474747;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;     
    color: #474747;
  }
}
.icon-radio-checked {
  &:before {
    content: $icon-radio-checked;     
    color: #474747;
  }
}
.icon-radio-default {
  &:before {
    content: $icon-radio-default;     
    color: #474747;
  }
}
.icon-search {
  &:before {
    content: $icon-search;     
    color: #474747;
  }
}
.icon-shop {
  &:before {
    content: $icon-shop;     
    color: #474747;
  }
}
.icon-sort {
  &:before {
    content: $icon-sort;     
    color: #474747;
  }
}
.icon-trash {
  &:before {
    content: $icon-trash;     
    color: #474747;
  }
}
.icon-truck {
  &:before {
    content: $icon-truck;     
    color: #474747;
  }
}
.icon-user1 {
  &:before {
    content: $icon-user1;     
    color: #474747;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-facebook-f {
  &:before {
    content: $icon-facebook-f; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-pin {
  &:before {
    content: $icon-pin; 
  }
}
.icon-newsletter {
  &:before {
    content: $icon-newsletter; 
  }
}
.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-bell {
  &:before {
    content: $icon-bell; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-magnifying-glass-plus {
  &:before {
    content: $icon-magnifying-glass-plus; 
  }
}
.icon-hand-holding-dollar {
  &:before {
    content: $icon-hand-holding-dollar; 
  }
}
.icon-graduation-cap {
  &:before {
    content: $icon-graduation-cap; 
  }
}
.icon-gift {
  &:before {
    content: $icon-gift; 
  }
}
.icon-cookie-bite {
  &:before {
    content: $icon-cookie-bite; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-angle-down {
  &:before {
    content: $icon-angle-down; 
  }
}
.icon-bars {
  &:before {
    content: $icon-bars; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-comments {
  &:before {
    content: $icon-comments; 
  }
}
.icon-flag {
  &:before {
    content: $icon-flag; 
  }
}
.icon-lightbulb {
  &:before {
    content: $icon-lightbulb; 
  }
}
.icon-circle-info {
  &:before {
    content: $icon-circle-info; 
  }
}
.icon-heart-o {
  &:before {
    content: $icon-heart-o; 
  }
}
.icon-heart {
  &:before {
    content: $icon-heart; 
  }
}
.icon-book-open {
  &:before {
    content: $icon-book-open; 
  }
}
.icon-pen-to-square {
  &:before {
    content: $icon-pen-to-square; 
  }
}
.icon-music {
  &:before {
    content: $icon-music; 
  }
}
.icon-paintbrush {
  &:before {
    content: $icon-paintbrush; 
  }
}

