$icomoon-font-family: "fuggoagy" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-down: "\e903";
$icon-arrow-left: "\e905";
$icon-arrow-right: "\e906";
$icon-arrow-up: "\e907";
$icon-cart: "\e908";
$icon-category: "\e909";
$icon-check1: "\e90a";
$icon-check2: "\e90c";
$icon-chekbox-checked: "\e90d";
$icon-chekbox-default: "\e913";
$icon-close1: "\e914";
$icon-disabled: "\e915";
$icon-edit: "\e916";
$icon-email: "\e917";
$icon-facebook: "\e918";
$icon-grid: "\e919";
$icon-hammock: "\e91a";
$icon-home: "\e91b";
$icon-instagram1: "\e91c";
$icon-list: "\e91d";
$icon-menu: "\e91e";
$icon-minus: "\e91f";
$icon-more: "\e920";
$icon-phone1: "\e922";
$icon-plus: "\e923";
$icon-radio-checked: "\e924";
$icon-radio-default: "\e925";
$icon-search: "\e92a";
$icon-shop: "\e93b";
$icon-sort: "\e93c";
$icon-trash: "\e93d";
$icon-truck: "\e93e";
$icon-user1: "\e93f";
$icon-youtube: "\e900";
$icon-instagram: "\e901";
$icon-facebook-f: "\e902";
$icon-close: "\e904";
$icon-user: "\e90b";
$icon-pin: "\e90e";
$icon-newsletter: "\e90f";
$icon-play: "\e910";
$icon-bell: "\e911";
$icon-phone: "\e912";
$icon-magnifying-glass-plus: "\e921";
$icon-hand-holding-dollar: "\e926";
$icon-graduation-cap: "\e927";
$icon-gift: "\e928";
$icon-cookie-bite: "\e929";
$icon-chevron-up: "\e92b";
$icon-angle-down: "\e92c";
$icon-bars: "\e92d";
$icon-check: "\e92e";
$icon-chevron-left: "\e92f";
$icon-chevron-right: "\e930";
$icon-comments: "\e931";
$icon-flag: "\e932";
$icon-lightbulb: "\e933";
$icon-circle-info: "\e934";
$icon-heart-o: "\e935";
$icon-heart: "\e936";
$icon-book-open: "\e937";
$icon-pen-to-square: "\e938";
$icon-music: "\e939";
$icon-paintbrush: "\e93a";

