:root {
 --primary: #{$primary-color};
 --primary-hover: #{darken($primary-color, 10%)};
 --primary-light: #{lighten($primary-color, 35%)};
 --secondary: #{$secondary-color};
 --light-bg: #{$default-light};
 --dark-bg: #{$primary-dark};
}

html {
 -webkit-tap-highlight-color: transparent;
 height: 100%;
}

body {
 font-family: 'Sora', sans-serif;
 font-size: $default-fontSize;
 line-height: $default-lineHeight;
 color: $default-color;
 background-color: $body-background;
 display: flex;
 flex-direction: column;
 width: 100%;
 min-height: 100%;

 @include media-breakpoint-down(md) {
  padding-bottom: 62px;
  .main__list--filter--close {
   content: '';
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba($black, .6);
   z-index: 100000;
   transition: .3s ease-in-out;
   visibility: hidden;
   opacity: 0;
  }
  &.filter {
   .main__list--filter--close {
    opacity: 1;
    visibility: visible;
   }
  }
 }
}

a {
 color: var(--primary);
 text-decoration: none;
 transition: .3s ease-in-out;

 &:hover,
 &:focus {
  color: var(--primary-hover);
 }

 &.text-decoration-underline {
  &:hover {
   text-decoration: none !important;
  }
 }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p {
 margin-bottom: 1.5rem;
}

h1, .h1 {
 font-size: $headling-1-fontSize;
 line-height: $headling-1-lineHeight;
 font-weight: 700;
 color: inherit;
}

h2, .h2 {
 font-size: $headling-2-fontSize;
 line-height: $headling-2-lineHeight;
 font-weight: 700;
}

h3, .h3 {
 font-size: $headling-3-fontSize;
 line-height: $headling-3-lineHeight;
 font-weight: 700;
}

h4, .h4 {
 font-size: $headling-4-fontSize;
 line-height: $headling-4-lineHeight;
 font-weight: 400;
}

h5, .h5 {
 font-size: $headling-5-fontSize;
 line-height: $headling-5-lineHeight;
 font-weight: 700;
}

h6, .h6 {
 font-size: $headling-6-fontSize;
 line-height: $headling-6-lineHeight;
 font-weight: 400;
}


.color {
 &-primary {
  color: var(--primary);
 }

 &-secondary {
  color: var(--secondary);
 }

 &-green {
  color: $default-green;
 }

 &-gray-light {
  color: var(--dark-bg);
 }

 &-default {
  color: $default-color;
 }

 &-light {
  color: $default-light;
 }

 &-red {
  color: $red;
 }

 &-white {
  color: $white;
 }
}

.hover {
 &-primary {
  &:hover,
  &:focus {
   color: var(--primary);
  }
 }

 &-light-gray {
  &:hover,
  &:focus {
   color: $default-light;
  }
 }

 &-red {
  &:hover,
  &:focus {
   color: $red;
  }
 }
}

.bg {
 &-primary {
  background: var(--primary) !important;
 }
 &-red {
  background-color: $red;
 }
 &-lighter {
  background-color: $default-lighter;
 }
}

.article {
 color: $black;

 img {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
 }
}

.fz {
 &-11 {
  font-size: 0.688rem;
 }

 &-12 {
  font-size: 0.75rem;
 }

 &-13 {
  font-size: 0.813rem;
 }

 &-14 {
  font-size: 0.875rem;
 }

 &-15 {
  font-size: 0.938rem;
 }

 &-16 {
  font-size: 1rem;
 }

 &-18 {
  font-size: 1.125rem;
 }

 &-20 {
  font-size: 1.25rem;
 }

 &-21 {
  font-size: 1.313rem;
 }

 &-24 {
  font-size: 1.5rem;
 }

 &-25 {
  font-size: 1.563rem;
 }

 &-28 {
  font-size: 1.75rem;
 }

 &-32 {
  font-size: 2rem;
 }

 &-36 {
  font-size: 2.25rem;
 }

 &-42 {
  font-size: 2.625rem;
 }

 &-64 {
  font-size: 4rem;
 }

 @include media-breakpoint-up(lg) {
  &-lg-20 {
   font-size: 1.25rem;
  }
 }

 @include media-breakpoint-up(md) {
  &-md-13 {
   font-size: 0.813rem;
  }
  &-md-16 {
   font-size: 1rem;
  }
  &-md-20 {
   font-size: 1.25rem;
  }
  &-md-21 {
   font-size: 1.313rem;
  }
  &-md-24 {
   font-size: 1.5rem;
  }
  &-md-25 {
   font-size: 1.563rem;
  }
  &-md-28 {
   font-size: 1.75rem;
  }
  &-md-50 {
   font-size: 3.125rem;
   line-height: 1.1;
  }
 }
}

.m {
 &t--4 {
  margin-top: -1.5rem;
 }
 &b-10 {
  margin-bottom: 0.625rem !important;
 }
 &b-20 {
  margin-bottom: 1.25rem;
 }

 &b-30 {
  margin-bottom: 1.875rem;
 }

 &b-40 {
  margin-bottom: 2.5rem;
 }

 &t-20 {
  margin-top: 1.25rem;
 }

 &t-40 {
  margin-top: 2.5rem;
 }

 @include media-breakpoint-up(md) {
  &b-md-20 {
   margin-bottom: 1.25rem;
  }
  &b-md-40 {
   margin-bottom: 2.5rem;
  }
  &t-md-40 {
   margin-top: 2.5rem;
  }
 }
}

.p {
 &-15 {
  padding: 0.938rem;
 }
 &y-40 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
 }
 &t-10 {
  padding-top: 0.625rem;
 }
 &b-10 {
  padding-bottom: 0.625rem;
 }
}

.container {
 max-width: 1244px;
}

.font {
 &-weight-normal {
  font-weight: 400 !important;
 }

 &-weight-bold {
  font-weight: 700 !important;
 }
}

.col-shrink {
 width: auto;
 max-width: none;
 -webkit-flex: 1 1 auto;
 flex: 1 1 auto;
 margin-right: auto;
}

.icon-dots {
 display: block;
 width: 3px;
 height: 3px;
 background-color: $default-color;
 border-radius: 50%;
 position: relative;
 margin: 11px 0 12px;

 &:before,
 &:after {
  content: '';
  position: absolute;
  top: 0;
  width: 3px;
  height: 3px;
  background-color: $default-color;
  border-radius: 50%;
 }

 &:before {
  left: -6px;
 }

 &:after {
  right: -6px;
 }
}

del {
 text-decoration: none;
 position: relative;
 line-height: 1.5rem;
 display: inline-block;

 &:before {
  content: '';
  position: absolute;
  background-color: $red;
  left: 0;
  width: 100%;
  height: 1px;
  transform: rotate(-8deg);
  top: 10px;
 }
}

.heightAuto {
 height: auto;
}

ul {
 margin: 0 0 20px;
 padding: 0;
 list-style-type: none;

 li {
  padding-left: 20px;
  position: relative;

  &:before {
   content: '•';
   position: absolute;
   left: 5px;
   top: 0;
  }
 }
}

.coupon-input {
 border-color: transparent !important;
 padding: 10px 12px !important;
 width: 100%;
 @include media-breakpoint-up(md) {
  width: 180px;
 }

 &:focus {
  border-color: var(--primary) !important;
 }
}

strong, b {
 font-weight: 700;
}

.h-md-100 {
 @include media-breakpoint-up(md) {
  height: 100%;
 }
}

.mw-115 {
 max-width: 115px;
 width: 100%;
}

.mw-50 {
 max-width: 50px;
}
.max-auto {
 max-width: unset;
}
.object-fit-cover {
 object-fit: cover;
}

.left-0 {
 left: 0;
}

.transition {
 &-default {
  transition: 0.2s ease-in-out;
 }
}