.owl-carousel {
	&.header-carousel {
		.header-carousel__content {
			top: 1rem;
			left: 1rem;
			right: 1rem;
			background: rgba(40, 40, 40, 0.8);
			border-radius: 0.75rem;
			padding: 1rem;
			color: $white;
			@include media-breakpoint-down(md) {
				h2 {
					font-size: 1.25rem;
					line-height: 1.5rem;
				}
				p {
					font-size: 0.875rem;
				}
			}
			@include media-breakpoint-up(md) {
				top: 50%;
				transform: translateY(-50%);
				right: auto;
				left: 3.5rem;
				width: 576px;
				padding: 2rem;
			}
		}

		img {
			min-height: 300px;
			object-fit: cover;
			@include media-breakpoint-up(md) {
				min-height: 400px;
			}
		}

		.owl-dots {
			position: absolute;
			left: 0;
			bottom: 1.25rem;
			width: 100%;
			text-align: center;
			z-index: 10;
			@include media-breakpoint-down(md) {
				text-align: left;
				padding-left: 1rem;
				bottom: 1.75rem;
			}

			.owl-dot {
				width: 0.75rem;
				height: 0.75rem;
				border: 1px solid $border;
				background-color: $white;
				margin: 0 0.25rem;
				border-radius: 50%;
				transition: background-color .2s ease-in-out;

				&:hover,
				&.active {
					background-color: var(--secondary);
				}
			}
		}

		.owl-nav {
			position: absolute;
			right: 1rem;
			bottom: 1rem;
			z-index: 20;

			.owl-prev,
			.owl-next {
				width: 2.5rem;
				height: 2.5rem;
				border-radius: 50%;
				background-color: rgba($white, .6);
				font-size: 1.5rem;
				transition: background-color .2s ease-in-out;

				&:hover {
					background-color: $white;
				}
			}
			.owl-prev {
				margin-right: 0.5rem;
			}
		}
	}

	&.products-carousel {
		.owl-stage {
			display: flex;
		}
		.owl-item {
			display: flex;
			flex: 1 0 auto;
		}
	}
}
