.main__footer {
 background-color: $footer;

 @include media-breakpoint-down(md) {
  font-size: 0.875rem;
 }

 &--logo {
  @include media-breakpoint-down(md) {
   max-width: 140px;
  }
 }
 &--menu {
  li {
   padding-left: 0;
   &:before {
    display: none;
   }
  }
 }
}