.main__header {
 @include media-breakpoint-up(md) {
  margin-bottom: 0.938rem;
 }
 @include media-breakpoint-up(xl) {
  padding-top: 1.25rem;
  margin-bottom: 1.563rem;
 }

 &--buttons {
  @include media-breakpoint-up(xl) {
   &.is-sticky {
    position: fixed;
    top: 0.625rem;
    right: 0;
    z-index: 100000;
   }
  }
 }

 &--shopping {
  width: 1.188rem;
  height: 1.188rem;
  font-family: 'Sora', sans-serif;
  right: -0.5rem;
  top: -0.5rem;
 }

 &--search {
  position: relative;
  width: 100%;

  @include media-breakpoint-up(md) {
   width: 392px;
  }

  &__input {
   border-color: $header-input;
   border-radius: 0.375rem;
  }

  &__button {
   position: absolute;
   right: 0;
   top: 0;
   width: 48px;
   height: 48px;
   padding: 0;
   line-height: 48px;
   color: $default-color;
   margin: 0;
   border: 0;
   border-radius: 0;
   &:hover {
    color: var(--primary);
   }
  }
 }
}
