.modal {
 .btn-close {
  width: auto;
  height: auto;
  background: none;
  font-weight: 700;
  font-size: 16px;
  opacity: 1;
  color: $default-color;
  transition: opacity .3s ease-in-out;
  margin-bottom: auto;
  &:hover {
   opacity: .7;
  }
 }

 &-dialog {
  max-width: 700px;
 }
 &-content {
  border: none;
  background-clip: border-box;
  border-radius: 12px;
 }
 &-body {
  padding: 0.75rem;
  @include media-breakpoint-up(md) {
   padding: 1.5rem;
  }
 }
 &-footer {
  border: none;
  padding: 0 0.75rem 0.75rem;
  @include media-breakpoint-up(md) {
   padding: 0 1.5rem 1.5rem;
  }
 }
 &-header {
  border: none;
  padding: 0.75rem 0.75rem 0;
  @include media-breakpoint-up(md) {
   padding: 1.5rem 1.5rem 0;
  }
  @include media-breakpoint-down(md) {
   .h1 {
    font-size: 20px;
   }
  }
 }

 &-fullscreen {
  .modal-body {
   background-color: $modal-bg;
  }
 }
}
