.navbar {
	padding: 0;

	&__bg {
		background-color: $nav-bg;

		@include media-breakpoint-up(md) {
			&.is-sticky {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				z-index: 1000;
				box-shadow: 0 4px 6px rgba($black, 0.25);
			}
		}
	}

	&-expand-md {
		.navbar-nav {
			min-height: 56px;
			@include media-breakpoint-down(md) {
				padding: 0.5rem 0;
			}
			.nav-item {
				margin: 0;
				width: 100%;
				padding-left: 0;
				text-transform: uppercase;
				&.dropdown {
					height: 3.5rem;
					display: flex;
					align-items: center;
					&:hover {
						.dropdown-menu {
							display: flex;
						}
					}
				}
				+ .nav-item {
					@include media-breakpoint-down(md) {
						border-top: 1px solid $border-light;
					}
				}
				&:before {
					display: none;
				}
				@include media-breakpoint-up(md) {
					margin: 0 0.313rem;
					width: auto;
				}
				@include media-breakpoint-up(lg) {
					margin: 0 0.75rem;
				}

				&:first-child {
					margin-left: 0 !important;
				}
				&:last-child {
					margin-right: 0 !important;
				}
			}

			.nav-link {
				color: $default-color;
				font-weight: 700;
				font-size: 0.875rem;
				line-height: 1.25rem;
				padding: 0.625rem 1rem;

				@include media-breakpoint-up(md) {
					font-size: 0.75rem;
					font-weight: 600;
					padding: 0;
				}
				@include media-breakpoint-up(lg) {
					font-size: 0.938rem;
				}

				&:hover,
				&:focus {
					color: var(--primary);
					.icon-dots, .icon-dots:before, .icon-dots:after {
						background-color: var(--primary) !important;
					}
				}
			}
		}
	}

	&-icons {
		display: none !important;
		@include media-breakpoint-down(md) {
			font-size: 0.813rem;
			flex-flow: row;
			justify-content: space-evenly;
			background-color: $mobil-nav;
			border-radius: 0.5rem 0.5rem 0 0;
			position: fixed;
			left: 0;
			bottom: 0;
			z-index: 100000;
			padding: 0.625rem 0;
			width: 100%;
			display: flex !important;
		}
		.nav-item {
			width: auto !important;
			margin: 0 0.313rem !important;
			.nav-link {
				font-size: 0.75rem;
				padding: 0;
				text-transform: none;
				font-weight: 600;
			}
		}
		i {
			position: relative;
			margin-bottom: 1px;
			.badge {
				font-size: 0.688rem;
				color: $white;
				background-color: $red;
				width: 1rem;
				height: 1rem;
				font-style: normal;
				text-align: center;
				line-height: 1rem;
				position: absolute;
				right: -0.5rem;
				top: -0.5rem;
				padding: 0;
				font-weight: 700;
				justify-content: center;
			}
		}
	}

	&-brand {
		.img-fluid {
			min-width: 237px;
		}
	}

	.dropdown {
		&-toggle {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
		}
		&-categories {
			&:after {
				content: '\e91e';
				font-family: 'fuggoagy';
				margin: {
					top: -2px;
					bottom: -2px;
					right: 0.625rem;
				};
			}
		}
		&-menu {
			min-width: unset;
			border: none;
			border-radius: 0.5rem;
			margin: 0 !important;
			text-align: left;
			@include media-breakpoint-up(md) {
				margin: 0.5rem 0 0 0 !important;
				border-radius: 0 0 0.5rem 0.5rem;
				box-shadow: 0 0.375rem 0.375rem rgba($black, 0.25);
				padding: 0;
				display: none;
				overflow: hidden;
				top: 3.5rem;
				margin-top: 0 !important;
				&.show {
					display: flex;
				}
			}
		}

		&-profile {
			position: absolute;
			top: auto;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
			margin-bottom: 0.5rem !important;
			border-radius: 0.5rem 0.5rem 0 0;
			width: 224px;
			max-width: 224px;
			@include media-breakpoint-up(md) {
				margin: 0.25rem 0 0 0 !important;
				bottom: auto;
				border-radius: 0 0 0.5rem 0.5rem;
			}
			.dropdown-list {
				flex-direction: column;
			}
			.dropdown-item {
				flex-basis: 100%;
				max-width: 100%;
				margin: 0;
			}
		}

		&-sublist {
			text-transform: none;
			transition: none !important;
			background-color: $white;
			@include media-breakpoint-down(md) {
				position: absolute;
				left: 0;
				top: 0;
				z-index: 100;
				width: 100%;
				transition: transform .2s ease-in-out !important;
				transform: translateX(100%);
				display: block !important;
				padding-bottom: 0.5rem;
				&.show {
					transform: translateX(0);
				}
			}
			@include media-breakpoint-up(md) {
				width: calc(calc(100vw - 40px) - 240px);
			}
			@media (min-width: 1260px) {
				width: calc(1220px - 240px);
			}
			&-col {
				padding-top: 0.313rem;
				padding-bottom: 0.313rem;
				border-top: 1px solid $border-light;
				@include media-breakpoint-up(lg) {
					border-top: none;
					border-right: 1px solid $border-light;
				}
			}
			&-image {
				position: relative;
				@include media-breakpoint-down(lg) {
					display: none;
				}
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 50%;
					height: 100%;
					background: linear-gradient(90deg, $white 0%, rgba($white, 0.75) 47%, rgba($white, 0) 100%);
				}
			}
			&-link {
				font-weight: 700;
				font-size: 0.875rem;
				padding: 0.25rem 0.75rem;
				display: block;
				color: $default-color;
				line-height: 1.25rem;
				&-sub {
					padding: 0.25rem 0.75rem;
				}
				&:hover,
				&:focus {
					color: var(--primary);
				}
			}
		}
		&-list {
			list-style-type: none;
			margin: 0;
			padding: 0.313rem 0;
			min-width: 240px;
		}
		&-item {
			padding: 0;
			display: flex;
			justify-content: space-between;
			&:not(:last-child) {
				border-bottom: 1px solid $border-light;
			}
			&:hover,
			&:focus {
				background-color: transparent;
			}
		}
		&-link {
			font-weight: 700;
			color: $default-color;
			font-size: 1rem;
			padding: 0.563rem 1rem;
			display: block;
			text-transform: none;
			width: 100%;
			line-height: 1.875rem;
			@include media-breakpoint-up(md) {
				font-size: 0.875rem;
				line-height: 1.375rem;
				padding: 0.563rem 0.75rem;
			}
			&-toggle {
				width: 3rem;
				cursor: pointer;
			}
			&.active,
			&:hover,
			&:focus {
				color: var(--primary);
			}
		}
	}
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($black, .6);
	z-index: 10000;
	opacity: 0;
	transition: .3s ease-in-out;
	visibility: hidden;
}

@include media-breakpoint-down(md) {
	body {
		width: 100%;
		overflow-x: hidden;
	}

	.overlay.is-active {
		opacity: 1;
		visibility: visible;
	}
	.navbar-collapse {
		display: block !important;
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 10001;
		margin: 0;
		border: none;
		width: 100%;
		.navbar-nav {
			overflow: hidden;
			bottom: -80vh;
			transition: bottom .2s cubic-bezier(0.51, 0.01, 0.2, 0.99);
			left: 0.75rem;
			width: calc(100% - 1.5rem);
			height: auto;
			box-shadow: none;
			overflow-y: auto;
			max-height: 80vh;
			background-color: $body-background;
			-webkit-overflow-scrolling: auto;
			border-radius: 0.5rem 0.5rem 0 0;
			position: fixed;
			&#nav-category {
				min-height: 80vh;
			}
			&.is-active {
				bottom: 3.875rem;
			}
		}
		.dropdown-menu {
			display: block;
			padding: 0;
		}
	}
}

.font-weight-semibold {
	font-weight: 600;
}
