$color__main: #444;
$color__active: $white;
$background__active: var(--dark-bg);
$breakpoint: 576px;
@mixin tab-active() {
 background: var(--primary);
}

.tabs {
 ul {
  margin: 0 0 0 15px;
  padding: 0;
  font-weight: 700;
  font-size: 0;
  li {
   font-size: 14px;
   padding-left: 0;
   &:before {
    display: none;
   }
   a {
    background: $background__active;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 15px;
    color: $white;
    min-width: 100px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    &:hover,
    &.active {
     @include tab-active();
    }
   }
  }
 }
}

.tabbed-content {
 &__item {
  &:nth-child(2) {
   .item-header {
    border-radius: 0.5rem 0.5rem 0 0;
   }
  }
  .item-header {
   background: $background__active;
   color: $white;
   padding: 15px 10px;
   font-weight: 700;
  }
  &.active {
   .item-header {
    @include tab-active();
    .icon-caret-down {
     transform: rotate(180deg);
    }
   }
   .tabbed-content__item--content {
    transition: opacity 0.3s ease-in-out;
    padding: 15px;
    background-color: var(--light-bg);
   }
  }
 }
 @media all and (min-width: $breakpoint ) {
  &__item {
   &.active {
    .tabbed-content__item--content {
     border-radius: 0.5rem;
    }
   }
  }
 }

 &--group {
  .tabbed-content__item {
   @include media-breakpoint-down(md) {
    .item-header {
     border-radius: 0.5rem;
    }
   }
  }
  .tabbed-content__item--content {
   background-color: transparent !important;
   padding: 0 !important;
   @include media-breakpoint-down(md) {
    padding-top: 1rem !important;
   }
  }
  .tabs {
   margin-bottom: 1rem;
   border-bottom: none;
   ul {
    margin-left: 0;
    li {
     + li {
      margin-left: 0;
     }
     a {
      font-weight: 400;
      text-transform: none;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      line-height: 1.5;
      background-color: var(--light-bg);
      border: 1px solid var(--light-bg);
      color: $default-color;
      @include media-breakpoint-up(md) {
       border-radius: 0;
      }
      &:hover {
       color: rgba($default-color, .8);
       border: 1px solid var(--light-bg);
      }
      &.active {
       background-color: var(--primary);
       color: $white;
       border: 1px solid var(--primary);
      }
     }
     &:first-child:not(:last-child) {
      a {
       border-radius: 0.5rem 0.5rem 0 0;
       @include media-breakpoint-up(md) {
        border-radius: 0.5rem 0 0 0;
       }
      }
     }
     &:last-child {
      a {
       border-radius: 0 0 0.5rem 0.5rem;
       @include media-breakpoint-up(md) {
        border-radius: 0 0.5rem 0 0;
       }
      }
     }
    }
   }
   @include media-breakpoint-up(md) {
    border-bottom: 1px solid var(--light-bg);
   };
  }
 }
}

.tabbed-content {
 .tabs {
  display: none;
 }
 &__item {
  min-height: 2em;
  border-radius: 0.5rem 0.5rem 0 0;
  & + & {
   margin-top: 1px;
  }
  &--content {
   opacity: 0;
   visibility: hidden;
   height: 0;
  }
  &.active {
   .tabbed-content__item--content {
    opacity: 1;
    visibility: visible;
    height:auto;
   }
  }
 }
}


// Tabs for larger screens
@media all and (min-width: $breakpoint) {
 .tabbed-content {
  .tabs {
   display: block;
   li {
    display: inline-block;
    + li {
     margin-left: 1px;
    }
    a {
     display: block;
    }
   }
  }
  &__item {
   min-height: 0;
   &::before {
    display: none;
   }
  }
 }
}
