@import "mixins/btn-override";

.btn {
	font-size: 0.938rem;
	border-radius: 0.375rem;
	padding: 0.375rem 0.75rem;
	line-height: 1.375rem;
	font-weight: 600;
	outline: none !important;
	color: $default-color;

	&:focus {
		box-shadow: none;
	}

	&.bordered {
		border-width: 0.125rem !important;
		line-height: 1.25rem;
	}

	&-text {
		font-weight: 400;
	}

	&-xs {
		font-size: 0.688rem;
		font-weight: 500;
		padding: 0.375rem 0.875rem;
		line-height: 1.1;
		&.bordered {
			padding: 0.375rem 0.813rem !important;
		}
		&.rounded-circle {
			padding: 0;
			min-width: 1.25rem;
			height: 1.25rem;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 0.813rem;
		}
	}

	&-sm {
		font-size: 0.813rem;
		font-weight: 600;
		padding: 0.563rem 0.625rem;
		line-height: 0.875rem;
		&.bordered {
			padding: 0.313rem 0.625rem !important;
		}
	}

	&-md {
		font-size: 1.25rem;
		font-weight: 600;
		padding: 0.75rem 1rem;
		line-height: 1.375rem;
		border-radius: 0.5rem;
		&.bordered {
			padding: 0.688rem 0.938rem !important;
		}
	}

	&-lg {
		font-size: 1.125rem;
		font-weight: 500;
		padding: 0.75rem 1rem;
		line-height: 1.25;
		@include media-breakpoint-up(md) {
			&-md-lg {
				font-size: 1.125rem;
				font-weight: 500;
				padding: 0.75rem 1rem;
				line-height: 1.25;
			}
		}
	}
}

@include btn-override('btn-primary', $primary-color, $primary-color, $white, $primary-dark, $primary-dark, $white);
@include btn-override('btn-primary.bordered', transparent, $primary-color, $primary-color, $primary-color, $primary-color, $white);
@include btn-override('btn-secondary', $secondary-color, $secondary-color, $white, $secondary-dark, $secondary-dark, $white);
@include btn-override('btn-secondary.bordered', transparent, $secondary-color, $secondary-color, $secondary-dark, $secondary-dark, $white);
@include btn-override('btn-white.bordered', transparent, $white, $white, $white, $white, $secondary-color);
@include btn-override('btn-facebook', $facebook, $facebook, $white, darken($facebook, 5%), darken($facebook, 5%), $white);
@include btn-override('btn-google', $google, $google, $white, darken($google, 5%), darken($google, 5%), $white);
@include btn-override('btn-cancel', transparent, $default-light, $default-light, $default-light, $default-light, $white);
@include btn-override('btn-cancel.dark', $default-light, $default-light, $white, darken($default-light, 10%), darken($default-light, 10%), $white);
@include btn-override('btn-checkout', $border, $border, $default-color, $border, $border, $default-color);
@include btn-override('btn-profile__mobil-btn', var(--light-bg), var(--light-bg), var(--primary), var(--light-bg), var(--light-bg), var(--primary));
@include btn-override('btn-light', $light-gray, $light-gray, $default-light, darken($light-gray, 10%), darken($light-gray, 10%), $default-light);
@include btn-override('btn-lighter', $default-lighter, $default-lighter, $default-color, $primary-color, $primary-color, $white);

.rounded {
	border-radius: 0.375rem !important;
	&-8 {
		border-radius: 0.5rem !important;
	}
	&-12 {
		border-radius: 0.75rem !important;
	}
	&-20 {
		border-radius: 1.25rem !important;
	}
	&-top {
		border-radius: 0.5rem 0.5rem 0 0 !important;
	}
	&-bottom {
		border-radius: 0 0 0.5rem 0.5rem !important;
	}
	@include media-breakpoint-up(md) {
		&-md-12 {
			border-radius: 0.75rem !important;
		}
	}
}

.dropdown {
	&-toggle {
		&:after {
			content: '\e907';
			font-family: 'fuggoagy';
			border: none;
			vertical-align: middle;
			font-size: 20px;
			margin-left: 0;
			line-height: 20px;
			margin-top: -3px;
		}
		&.show {
			&:after {
				transform: rotate(180deg);
			}
		}
	}
	&-menu {
		border-color: var(--light-bg);
		li {
			padding-left: 0;
			&:before {
				display: none;
			}
		}
	}
	&-item {
		padding: 0.438rem 0.75rem;
		color: $default-color;
		font-size: 1rem;
		&:before {
			display: none;
		}

		&:hover,
		&:focus,
		&:active {
			background-color: var(--primary-light);
			color: $default-color;
		}
	}
}

.breadcrumb {
	font-size: 0.813rem;
	padding-bottom: 0.625rem;
	overflow-y: hidden;
	overflow-x: auto;
	flex-flow: nowrap;
	margin-bottom: 1rem;

	&-item {
		white-space: nowrap;
		padding-left: 0;
		&:before {
			display: none;
		}
		a {
			color: $default-color;

			&:hover,
			&:focus {
				color: var(--primary);
			}
		}
		& + & {
			padding-left: 0.188rem;
			&:before {
				content: '\e902';
				font-family: 'fuggoagy';
				font-size: 1.5rem;
				color: $default-light;
				padding-right: 0.188rem;
				float: none;
				display: inline-block;
				vertical-align: top;
				position: relative;
				left: auto;
				top: auto;
			}
		}
	}
}

.badge {
	font-size: 0.813rem;
	font-weight: 400;
	display: inline-flex;
	align-items: center;
	line-height: 1;
	padding: 0.5em 0.85em;
	&-primary {
		background-color: var(--primary);
	}
	&-action {
		background-color: $red;
	}
	&-gray {
		background-color: $default-light;
	}
	&-light {
		background-color: $border-light;
		color: $default-color;
	}
	&-border {
		border: 1px solid $default-light;
		border-radius: 0.5rem;
		color: $default-light;
		padding: 0.365em 0.85em;
	}
	&-rounded {
		border-radius: 56px;
	}
	&-gray-border {
		border: 0.125rem solid $default-light;
		padding: 0.308em 0.85em;
	}
	&-32 {
		width: 2rem;
		height: 2rem;
	}
	&-md-40 {
		@include media-breakpoint-up(md) {
			width: 2.5rem;
			height: 2.5rem;
		}
	}
}

.cursor-pointer {
	cursor: pointer;
}

.border {
	border-color: $card-border !important;
	&-light {
		border-color: var(--light-bg) !important;
	}
}
.card {
	border-color: $card-border;
	border-radius: 0.5rem;

	&-header {
		border-color: $card-border;
	}
}

.btn-toggle {
	.icon-caret-down {
		transform: rotate(180deg);
		transition: transform .3s ease-in-out;
	}
	&.collapsed {
		.icon-caret-down {
			transform: rotate(0);
		}
	}
}

.bootstrap-datetimepicker-widget {
	border-color: $default-light;
	&.dropdown-menu.bottom:before {
		border-bottom-color: $default-light;
	}
	.dropdown-menu.top:before {
		border-top-color: $default-light;
	}
	.timepicker .timepicker-picker a.btn {
		color: var(--primary);
	}
	table td.active,
	table td.active:hover {
		background-color: var(--primary);
	}
	table td.today:before {
		border-bottom-color: var(--primary);
	}
	.datepicker-days .prev .icon-arrows-right {
		transform: rotate(180deg);
		display: block;
	}
	.timepicker-hour,
	.timepicker-minute,
	.timepicker-second {
		font-size: 1rem;
	}
	li {
		padding-left: 0;
		&:before {
			display: none;
		}
	}
	table thead tr:first-child th:hover,
	table td span:hover,
	table td.day:hover,
	table td.hour:hover,
	table td.minute:hover,
	table td.second:hover {
		background-color: var(--light-bg);
	}
	table td.active,
	table td.active:hover {
		background-color: var(--primary);
	}
	.timepicker .timepicker-picker a.btn:hover {
		color: var(--primary);
	}
}

.nav {
	&-tabs {
		margin-bottom: 1rem;
		border-bottom: none;
		@include media-breakpoint-up(md) {
			border-bottom: 1px solid $border;
		}
		&__item {
			@include media-breakpoint-down(md) {
				width: 100%;
			}
			&:first-child:not(:last-child) {
				.nav-tabs__btn {
					border-radius: 0.5rem 0.5rem 0 0;
					@include media-breakpoint-up(md) {
						border-radius: 0.5rem 0 0 0;
					}
				}
			}
			&:last-child {
				.nav-tabs__btn {
					border-radius: 0 0 0.5rem 0.5rem;
					@include media-breakpoint-up(md) {
						border-radius: 0 0.5rem 0 0;
					}
				}
			}
		}
		&__btn.nav-link {
			width: 100%;
			font-weight: 400;
			background-color: $border;
			border: 1px solid $border;
			color: $default-color;
			padding: 0.5rem 1rem;
			height: 100%;
			line-height: 1.45;
			@include media-breakpoint-up(md) {
				border-radius: 0;
			}
			&:hover {
				color: rgba($default-color, .8);
				border: 1px solid $border;
			}
			&.active {
				background-color: var(--primary);
				color: $white;
				border: 1px solid var(--primary);
			}
		}
	}
}

.table {
	--bs-table-striped-color: #{$default-color};
	--bs-table-striped-bg: #{$light-gray};
	--bs-table-accent-bg: transparent;

	&-striped {
		tbody {
			border-top: none !important;
			tr {
				td, th {
					font-size: 13px;
					border-bottom: none;
					vertical-align: middle;
					color: $default-color;
				}
			}
		}
		thead {
			tr {
				td, th {
					border-bottom: none;
					background-color: $border;
					box-shadow: none;
					color: $default-color;
					font-size: 13px;
				}
			}
		}
	}
}

.input-group-text {
	background-color: var(--light-bg);
	border-radius: 0.5rem;
}

.btn-group {
	> .btn-group:not(:first-child),
	> .btn:not(:first-child) {
		margin-left: 0;
	}
}

.pagination {
	.btn {
		min-width: 2rem;
		padding: 0.188rem 0.25rem 0.125rem 0.25rem	!important;
		flex: none;
		+ .btn {
			border-left: 1px solid $border-light;
		}
	}
}

.border-bottom,
hr {
	border-color: $hr-color;
}