.cart {
 .list__row {
  --bs-gutter-x: 1.5rem;
 }
 &__list {
  &--item {
   padding-bottom: 1.5rem;
   border-bottom: 1px solid $border-light;
   position: relative;
   @include media-breakpoint-down(md) {
    h5 {
     padding-right: 2rem;
    }
   }
   & + & {
    padding-top: 1.5rem;
    @include media-breakpoint-down(md) {
     .cart__list--item--delete {
      margin-top: 1.5rem;
     }
    }
   }
   .add-basket-box__input {
    background-color: $default-lighter;
   }
   .btn-link {
    &:first-child {
     border-top-left-radius: 0.5rem !important;
     border-bottom-left-radius: 0.5rem !important;
    }
    &:last-child {
     border-top-right-radius: 0.5rem !important;
     border-bottom-right-radius: 0.5rem !important;
    }
   }
   &:last-child {
    padding-bottom: 0;
   }
   &--delete {
    @include media-breakpoint-down(md) {
     position: absolute;
     right: 0;
     top: 0;
     padding-right: 0;
    }
   }
   &--price {
    font-weight: 700;
    text-align: center;
    color: var(--secondary);
   }
   &--pm {
    @include media-breakpoint-down(md) {
     margin-left: calc(50px + calc(var(--bs-gutter-x) * 1));
     .btn {
      padding-left: 0.375rem;
      padding-right: 0.375rem;
     }
    }
   }
  }
  &--image {
   width: calc(180px + calc(var(--bs-gutter-x) * 1));
   align-self: start;
   @include media-breakpoint-down(md) {
    width: calc(50px + calc(var(--bs-gutter-x) * 1));
    padding-right: 0;
   }
  }
 }
 &__footer {
  @include media-breakpoint-down(md) {
   h2 {
    font-size: 1.5rem;
   }
  }
 }
}