.datasheet {
 &__color {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.75rem 0.75rem 0.75rem 0;
  position: relative;
  cursor: pointer;
  i {
   transition: opacity 0.2s ease-in-out;
   &:hover {
    opacity: 0.8;
   }
   &:before {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    border: 1px solid $border-light;
    border-radius: 0.5rem;
   }
  }

  @each $color, $value in $colors {
   &--#{$color} {
    background-color: $value;
   }
  }
  input {
   cursor: pointer;
   display: none;
   &:checked {
    + i {
     opacity: 1 !important;
     &:before {
      border: 3px solid var(--primary);
      border-radius: 0.625rem;
      left: -5px;
      top: -5px;
      right: -5px;
      bottom: -5px;
     }
    }
   }
  }
 }

 &__border {
  border: 3px solid $border-light;
  &--line {
   border-bottom: 1px solid $border-light;
   &--icon {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
   }
  }
 }
}

.add-basket-box {
 @include media-breakpoint-up(md) {
  width: 392px;
 }
 .btn-link {
  &:first-child {
   border-top-left-radius: 0.5rem !important;
   border-bottom-left-radius: 0.5rem !important;
  }
  &:last-child {
   border-top-right-radius: 0.5rem !important;
   border-bottom-right-radius: 0.5rem !important;
  }
 }
 &__input {
  width: 1.5rem;
  padding-left: 0;
  padding-right: 0;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
  }
 }
}