.main__list {
 &:last-child {
  padding-bottom: 0 !important;
 }
 &--padding {
  padding: 0;
  @include media-breakpoint-up(md) {
   padding: 0 calc(var(--bs-gutter-x) * .5);
  }
 }

 &--order {
  &__selecter {
   select {
    @include media-breakpoint-down(md) {
     max-width: 100%;
     left: 0;
     top: 0;
     position: absolute;
    }
   }
   &__button {
    z-index: 10;
    pointer-events: none;
   }
  }
 }

 &--filter {
  background-color: $default-lighter;
  width: 240px;
  @include media-breakpoint-up(lg) {
   width: 290px;
  }

  @include media-breakpoint-down(md) {
   position: fixed;
   left: -100em;
   z-index: 100000;
   height: 100%;
   width: 100vw;
   top: 0;
   border-radius: 0 !important;
   overflow-y: auto;
   overflow-x: hidden;
   -webkit-overflow-scrolling: auto;
   transition: left .3s cubic-bezier(0.51, 0.01, 0.2, 0.99);
   &.is-active {
    left: 0;
   }
  }
 }

 &--banner {
  min-height: 210px;
  background: {
   repeat: no-repeat;
   position: left top;
   size: cover;
  };
  &__content {
   background-color: $banner-bg;
   max-width: 540px;
   *:last-child {
    margin-bottom: 0;
   }
  }
 }
}

.list__row {
 --bs-gutter-x: 1.5rem;
 &--carousel {
  margin-left: calc(-1 * var(--bs-gutter-x));
  margin-right: calc(-1 * var(--bs-gutter-x));
  padding-left: calc(var(--bs-gutter-x) * .5);
  padding-right: calc(var(--bs-gutter-x) * .5);
 }

 &--item {
  position: relative;
  &:before {
   content: '';
   position: absolute;
   left: calc(var(--bs-gutter-x) * .5);
   bottom: calc(-1 * var(--bs-gutter-y) * .5);
   width: 100%;
   border-bottom: 1px solid $border-light;
  }
  @include media-breakpoint-down(xl) {
   img {
    max-width: 200px;
   }
  }
  @include media-breakpoint-down(lg) {
   img {
    max-width: 110px;
   }
  }
  @include media-breakpoint-down(md) {
   img {
    max-width: 70px;
   }
  }
  &.row {
   --bs-gutter-y: 3rem;
   &:last-child {
    &:before {
     display: none;
    }
   }
  }
 }
}

.products-carousel {
 .col {
  padding-left: calc(var(--bs-gutter-x) * .5);
  padding-right: calc(var(--bs-gutter-x) * .5);
 }

 &--nav {
  button {
   &.owl-prev,
   &.owl-next {
    background-color: $owl-navigation;
    border-radius: 50%;
    border: 0;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $default-color;
    font-size: 1.5rem;
    transition: background-color .2s ease-in-out;
    &:hover {
     color: var(--primary);
     background-color: darken($owl-navigation, 10%);
    }
   }
  }
 }
}
