main {
	&.is-sticky {
		@include media-breakpoint-up(md) {
			padding-top: 80px;
		}
	}
}

.main {
	&__list {
		&--content {
			&:not(:last-child) {
				border-bottom: 1px solid $hr-color;
			}
		}
	}
	&__categories {
		&--label {
			padding: 0.5rem 0.75rem;
			z-index: 10;
			left: 0;
			background: rgba($black, 0.6);
		}
	}

	&__brands {
		background-color: $brands-bg;
	}

	&__gift {
		&--box {
			background: #00B5D6 url("/img/main__gift.png") no-repeat 80% bottom;
			box-shadow: inset 0 0 176px rgba(52, 52, 52, 0.3);
			min-height: 330px;
			@include media-breakpoint-down(xl) {
				background-position: 95% bottom;
			}
			@include media-breakpoint-down(md) {
				background-size: 183px auto;
				margin-left: calc(-1 * var(--bs-gutter-x,.75rem));
				margin-right: calc(-1 * var(--bs-gutter-x,.75rem));

				&--buttons {
					.btn {
						min-width: 164px;
					}
				}
			}
			&--content {
				max-width: 600px;
				@include media-breakpoint-down(lg) {
					max-width: 400px;
				}
			}
		}
	}
}
