.registration {
 &__card {
  max-width: 1016px;
  &--login {
   max-width: 600px;
  }
  @include media-breakpoint-down(md) {
   border-width: 0;
   .btn-secondary {
    width: 100%;
   }
  }
 }
 &__info-text {
  @include media-breakpoint-up(md) {
   border-right: 1px solid $border-light;
  }
 }
}
