$mobil-smaller: 359px;
$mobil-big: 575px;
$mobil: 767px;
$tablet: 991px;
$tablet-default: 1024px;
$tablet-big: 1199px;

$default-fontSize: 1rem;
$default-lineHeight: 1.375rem;

$headling-1-fontSize: 2.438rem;
$headling-1-lineHeight: 3.063rem;

$headling-2-fontSize: 1.75rem;
$headling-2-lineHeight: 1.45;

$headling-3-fontSize: 1.25rem;
$headling-3-lineHeight: 1.45;

$headling-4-fontSize: 1.125rem;
$headling-4-lineHeight: 1.45;

$headling-5-fontSize: 1rem;
$headling-5-lineHeight: 1.45;

$headling-6-fontSize: 0.813rem;
$headling-6-lineHeight: 1.45;

$primary-color: #00B5D6;
$primary-dark: darken($primary-color, 10%);
$primary-light: lighten($primary-color, 10%);

$secondary-color: #F4792D;
$secondary-dark: darken($secondary-color, 10%);
$secondary-light: lighten($secondary-color, 10%);

$default-color: #474747;
$default-light: #878787;
$default-lighter: #F5F5F5;

$nav-bg: #F2F2F2;

$mobil-nav: #D3DFE2;

$body-background: #FFFFFF;
$white: #FFFFFF;
$red: #E34343;
$border: #878787;
$border-light: #E0E0E0;
$modal-bg: #ABABAB;
$card-border: $border-light;
$light-gray: #F0F3F5;
$default-green: #219653;

$facebook: #3B5998;
$google: #F26B3A;

$footer: $default-lighter;

$header-input: $border-light;
$hr-color: $border-light;

$owl-navigation: $default-lighter;

$brands-bg: $default-lighter;

$banner-bg: rgba(#282828, 0.8);

$colors:(
 "orange":  #F2994A,
 "green":   #336856,
 "red":     #EB5757,
 "purple":  #9B51E0,
 "blue":    #2F80ED,
)